# Ignore packages #
# =============== #
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore packages #
# =============== #
node_modules/
design_comps/
.idea/
js/main-compiled.js
js/main-compiled.js.map
js/utils/utils-compiled.js
js/utils/utils-compiled.js.map