<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Project 3</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/lightbox2-master/dist/css/lightbox.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="project3" ng-controller="InstaCtrl">

    <header class="container">

        <img src="assets/images/instagrid-logo.svg" class="headerLogo" alt="instagrid logo">

    </header>



    <section class="searchSection">

        <img src="assets/images/instagrid-icon.svg" class="searchLogo" alt="instagrid icon">

        <div class="instagram-searcher">

            <form action="#" id="image-search">
                <div class="hashtag-search">

                    <input ng-model="hashtag" type="text" name="hashtag-name" class="searchBar" id="hashtag-name" placeholder="Enter your search ..." />
                    <button type="button" ng-click="getPhotos($event)">
                        <i class="fa fa-search fa-1.5x"></i>
                    </button>

                </div>
            </form>


        </div>
    </section>

    <section class="image-area container">

        <!-- Nearly empty div for content to be appended to -->
        <div class="imageListWrapper">
            <img src="assets/images/search-tags.svg" alt="search #tag to view images in the grid" ng-hide="posts.length">
            <ul class="image-list">
                <li ng-repeat="post in posts" ng-show="posts.length">

                    <a href={{post.images.standard_resolution.url}} data-lightbox='{{"image-" + $index}}'>
                        <img src={{post.images.standard_resolution.url}} class='content_image'>
                    </a>

                    <div class='pic_footer'>

                        <img src='{{post.user.profile_picture}}' class='profile_picture'>
                        <div class='pic_info'>
                            <a href='https://instagram.com/{{post.user.username}}' class='user_name'>{{post.user.username}}</a>
                            <div class='comment_likes'>
                                <span class='comments'><i class='fa fa-comments'></i>{{post.comments.count}}</span>
                                <span><i class='fa fa-heart'></i>{{post.likes.count}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Empty div for loading gif -->
        <div class="loading_gif" ng-show="loading"></div>

        <!-- Empty div for load more button -->
        <div class="load_more_btn" ng-hide="loading"></div>

    </section>

    <footer class="container">

        <p class="copyright">&copy;Copyright 2015 <span>Instagrid</span></p>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="plugins/lightbox2-master/dist/js/lightbox.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </footer>

</body>
</html>